* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body {
    display:flex;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;
    background:#050505;
  
}

.cube {
    position: relative;
    width:301px;
    height:300px;
    transform-style: preserve-3d;
    transform: rotateX(-30deg) translatey(0px);
    animation: animate 4s linear infinite;
    
}
.cube2 {
    position: relative;
    width:301px;
    height:300px;
    transform-style: preserve-3d;
    transform: rotateX(-30deg) translatey(0px);
    animation: animate 4s linear infinite;
    
}
.cube3 {
    position: relative;
    width:301px;
    height:300px;
    transform-style: preserve-3d;
    transform: rotateX(-30deg) translatey(0px);
    animation: animate 4s linear infinite;
    
}
@keyframes animate 
{
    0% 
    {
        transform : rotateX(-30deg) rotateY(0deg);
    }
    100%
    {
        transform : rotateX(-30deg) rotateY(360deg);
    }
}
@keyframes floatation {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-200px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}
.float
{
    animation: floatation 6s ease-in-out infinite;
   
}
.float2
{
    animation: floatation 6s ease-in-out infinite;
    animation-delay: 2000ms;
}
.float3
{
    animation: floatation 6s ease-in-out infinite;
    animation-delay: 3750ms;
}
.cube div {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    transform-style: preserve-3d;
}
.cube2 div {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    transform-style: preserve-3d;
}
.cube3 div {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    transform-style: preserve-3d;
}
.cube div span {
    position:absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#151515, rgb(51, 255, 0));
    transform: rotateY(calc(90deg * var(--i))) translateZ(150px)
}
.cube2 div span {
    position:absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#151515, rgb(0, 255, 247));
    transform: rotateY(calc(90deg * var(--i))) translateZ(150px)
}
.cube3 div span {
    position:absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#151515, rgb(188, 14, 14));
    transform: rotateY(calc(90deg * var(--i))) translateZ(150px)
}
.top
{
    position: absolute;
    top: 0;
    left: 0;
    width: 301px;
    height: 301px;
    background: #222;
    transform: rotateX(90deg) translateZ(150px);
}
.cube .top::before
{
    content:'';
    position:absolute;
    top:0;
    left: 0;
    width: 300px;
    height: 300px;
    background:#0f0;
    transform: translateZ(-380px);
    filter: blur(25px);
    box-shadow: 0 0 12px rgba(0, 255, 0, 0.2),
    0 0 200px rgba(0, 255, 0, 0.4),
    0 0 300px rgba(0, 255, 0, 0.6),
    0 0 400px rgba(0, 255, 0, 0.8),
    0 0 500px rgba(0, 255, 0, 1);   
}
.cube2 .top::before
{
    content:'';
    position:absolute;
    top:0;
    left: 0;
    width: 300px;
    height: 300px;
    background:rgb(0, 200, 255);
    transform: translateZ(-380px);
    filter: blur(25px);
    box-shadow: 0 0 12px rgba(0, 208, 255, 0.2),
    0 0 200px rgba(0, 208, 255, 0.4),
    0 0 300px rgba(0, 208, 255, 0.6),
    0 0 400px rgba(0, 208, 255, 0.8),
    0 0 500px rgba(0, 208, 255, 1);   
}

.cube3 .top::before
{
    content:'';
    position:absolute;
    top:0;
    left: 0;
    width: 300px;
    height: 300px;
    background:rgb(220, 17, 17);
    transform: translateZ(-380px);
    filter: blur(25px);
    box-shadow: 0 0 12px rgba(214, 69, 69, 0.2),
    0 0 200px rgba(195, 34, 20,0.4),
    0 0 300px rgba(195, 34, 20, 0.6),
    0 0 400px rgba(195, 34, 20, 0.8),
    0 0 500px rgba(195, 34, 20, 1);   
}